$red: #E83034;

$pink: #E98D04;

$blue: #38A5DB;

$bright-green: #92C303;

$accent: #83B100;

$dark-green: #597B00;

$white: #FEFEFE;

$back-of-inputs: #FBFFF3;

$lines: #DCE9C4;

$button-back: #EDF5DE;

$grey: #7D7D7D;

$black: #454545;
