@import '../default/_my__color';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 1024px) {
		flex-wrap: wrap;
		padding-right: 0;
	}
	&.active {
		height: 100vh;
		align-items: center;
		align-content: flex-start;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 90px;
		& .header-mob {
			display: flex;
			flex-direction: column;
		}

		& .close-icon {
			display: block;
		}
		& .burger-icon {
			display: none;
			@media screen and (max-width: 1024px) {
				display: none;
			}
		}
	}
	& .burger {
		display: none;
		@media screen and (max-width: 1024px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& svg {
			@media screen and (max-width: 480px) {
				width: 24px;
				height: 24px;
			}
		}
	}
	& .close-icon {
		display: none;
	}
	&-bg {
		background-color: #F7F7F7;
		padding: 14px 0 13px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
	}
	&-logo {
		margin-right: 26px;
		@media screen and (max-width: 1210px) {
			margin-right: 12px;
		}
		& img {
			width: 67px;
			height: auto;
			@media screen and (max-width: 768px) {
				width: 31px;
			}
		}
	}
	&-mob {

		width: calc(100% - 170px);
		max-width: 624px;
		@media screen and (max-width: 1210px) {
			width: calc(100% - 126px);
		}
		@media screen and (max-width: 1024px) {
			display: none;
			width: 100%;
			max-width: 100%;
			align-items: flex-start;
			margin-top: 20px;
		}
	}
	&-list {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		list-style-type: none;
		width: 100%;
		grid-gap: 10px;
		padding-left: 0;
		margin-bottom: 0;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			grid-gap: 20px;
		}
		&-item {
			flex: 2 2 98px;
			@media screen and (max-width: 1024px) {
				flex: 0 1 auto;
			}
			& > a {
				text-decoration: none;
				color: $black;
				text-align: center;
				font-size: 14px;
				font-weight: 500;
				line-height: normal;
				display: flex;
				align-items: center;
				flex-direction: column;
				grid-gap: 8px;
				border-radius: 2px;
				white-space: nowrap;
				@media screen and (max-width: 1240px) {
					font-size: 12px;
				}
				@media screen and (max-width: 1024px) {
					flex-direction: row;
					grid-gap: 8px;
					text-align: left;
					align-items: center;
					font-size: 16px;
				}
				&:hover {
					color: $bright-green;
				}
				&:active {
					color: $dark-green;
				}
			}
		}
	}
}